@model IEnumerable<WnioskiOnline.Models.Aktualnosc>
@{
    ViewBag.Title = "Archiwum";
}


@if (Request.IsAuthenticated) {
    
    
    if (User.IsInRole("Administrator"))
    {

        <h2>Archiwum</h2>

        <article class="aktualnosci">


        @if (!Model.Any())
        {
            <p>
               Brak aktualności.
            </p>
  
        }
        else
        {
            foreach (var item in Model) {

            <span class="trescakt">@Html.DisplayFor(modelItem => item.TrescAktualnosci)</span>
            <span class="dataakt">@Html.DisplayFor(modelItem => item.DataDodania)</span><hr />
            }
        }
        </article>


    }
    else
    {
        <p>
            Nie masz dostępu do tego zasobu.
        </p>
    }
}

else
{
    
    <p>
        Dostęp do tego zasobu jest możliwy tylko dla zalogowanych użytkowników.
    </p>
    @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null,  htmlAttributes: new { id = "loginLink" })
    
}