@{
    ViewBag.Title = "Przypisz recenzenta do wniosku - Administrator";
}

<h2>Wnioski - Recenzenci</h2>

<section class="wnioski">

<div class="float-left">
    <label>Wnioski:</label>
    <table style="width:350px;">
        <thead>
            <tr>
                <td class="lp">LP</td>
                <td>Nazwa wniosku</td>
                <td>Dziedzina nauki</td>
                <td style="width:auto;">Przypisz recenzenta</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="lp">1</td>
                <td>Wniosek 1</td>
                <td>Dziedzina 1</td>
                <td style="width:auto;">1</td>
            </tr>
            <tr>
                <td class="lp">2</td>
                <td>Wniosek 2</td>
                <td>Dziedzina 2</td>
                <td style="width:auto;">2</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="float-right">
    <label>Recenzenci:</label>
    <table style="width:370px;">
        <thead>
            <tr>
                <td class="lp">LP</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Dziedzina</td>
                <td style="width:auto;">Liczba wniosków</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="lp">1</td>
                <td>Imię 1</td>
                <td>Nazwisko 1</td>
                <td>Dziedzina 1</td>
                <td style="width:auto;">1</td>
            </tr>
            <tr>
                <td class="lp">2</td>
                <td>Imię 2</td>
                <td>Nazwisko 2</td>
                <td>Dziedzina 2</td>
                <td style="width:auto;">2</td>
            </tr>
        </tbody>
    </table>
</div>










</section>