@model WnioskiOnline.ViewModels.UzytkownicyViewModel


@{
    ViewBag.Title = "Użytkownicy";
}

<h2>Użytkownicy</h2>

<section class="wnioski">

@if (!Model.Uzytkownicy.Any())
{
    <p>
       Nie ma jeszcze żadnych użytkowników.
    </p>
  
}
else
{
 using (Ajax.BeginForm("FiltrujUzytkownikow", "Admin", new AjaxOptions { 
    HttpMethod = "Post", UpdateTargetId = "ListaUzytkownikow" }))
    {

    <fieldset>
        <legend>Wyszukaj</legend>
        <ol>
            <li>
                @Html.Label("Rola: ")
                @Html.DropDownListFor(m => m.Rola, Model.Role)
            </li>


        </ol>
        <input type="submit" value="Wyszukaj" />
    </fieldset>
    }
    <div id="ListaUzytkownikow">
     @Html.Partial("ListaUzytkownikow", Model.Uzytkownicy)
    </div>

}

</section>
