
@{
    ViewBag.Title = "Szczegóły wnioskow";
}


<h2>Wniosek</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
<form method="post" >
        <fieldset>
        <legend>Wniosek</legend>
              <div>
                  <label>&nbsp;</label>
            <label for="konkurs">Konkurs:</label>
            <input type="text" name="konkurs" value="K1" readonly ="readonly"/>
          </div>

                 <div>
            <label for="org">Organizacja:</label>
            <input type="text" name="org" value="Nazwa organizacji" readonly ="readonly"/>
          </div>

                  <div>
            <label for="projekt">Nazwa projektu:</label>
            <input type="text" name="projekt" value="Projekt 1" readonly ="readonly"/>
          </div>

                 <div>
            <label for="koordynator">Koordynator projektu:</label>
            <input type="text" name="koordynator" value="Tadeusz Nowak" readonly ="readonly"/>
          </div>

                 <div>
            <label for="charakter">Nazwa projektu:</label>
            <input type="text" name="charakter" value="Jednorazowe" readonly ="readonly"/>
          </div>
<table>
    <thead>
        <tr>
            <th style="border:1px solid; padding-left:5px"> Rodzaj wydatków </th>
            <th style="border:1px solid; padding-left:5px"> Wyszczególnienie </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td> Rodzaj 1</td>
            <td>Wyszczególniene 1</td>
        </tr>

            <tr>
            <td> Rodzaj 2</td>
            <td>Wyszczególniene 2</td>
        </tr>
    </tbody>
   
</table>
      
          <div>
             <label>&nbsp;</label>
            <label for="recenzja">Recenzja:</label>
            <input type="text" name="recenzja" value="2" readonly ="readonly"/>
          </div>
          <div>
            <label for="recenzent">Recenzent:</label>
            <input type="text" name="recenzent" value="Jan Kowalski" readonly ="readonly"/>
          </div>
          <div>
            <label for="status">Decyzja:</label>
              <input type="radio"name="status"/>pozytywna
              <input type="radio"name="status"/>negatywna
          </div>
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Zapisz decyzję" class="submit" />
          </div>
        </fieldset>
      </form>
}