@model IEnumerable<WnioskiOnline.Models.Aktualnosc>
@{
    ViewBag.Title = "Strona Główna";
}

<h2>Aktualności</h2>

<section class =" aktualnosc">
<ul>
    
          
     
    @foreach (var item in Model)
    {
        <li>
            @item.TrescAktualnosci
        </li>
    }

 
   
  
    
    
</ul>
</section>

   @if (User.IsInRole("Administrator"))
    {    	
       @Html.ActionLink("Dodaj aktualność","DodajAktualnosc","Admin")
        @Html.ActionLink("Archiwum","Archiwum","Admin")
    }

