@model IEnumerable<WnioskiOnline.Models.Aktualnosc>
@{
    ViewBag.Title = "Strona Główna";
}
<article class ="aktualnosci">
<h2>Aktualności</h2><br />

    @foreach (var item in Model)
    {
            <span class="trescakt">@Html.DisplayFor(modelItem => item.TrescAktualnosci)</span>
            <span class="dataakt">@Html.DisplayFor(modelItem => item.DataDodania)</span><hr />
    }


   @if (User.IsInRole("Administrator"))
    {    
       	<div class="float-right">
       @Html.ActionLink("Dodaj aktualność","DodajAktualnosc","Admin")
        @Html.ActionLink("Archiwum","Archiwum","Admin")
       </div>
    }

</article>