
@{
    ViewBag.Title = "Dane osobowe - członek komisji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dane osobowe</h2>
<section class="daneosobowe">

   <ol>
       <li>
           <label> Login</label>
           <label>login</label>
        </li>
       <li>
            <label> imie</label>
             <text>podaj imie</text>
       <li/>
       <li>
           <label>Nazwisko</label>
           <text> //wpisz</text>
       </li>
       <li>
           <label> e-mail</label>
           <text> </text>
       </li>
       <li>
           <label> Nr telefonu</label>
           <text> </text>
       </li>
       
   </ol>



</section>