
@{
    ViewBag.Title = "SzczegolyWnioskow - członek komisji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SzczegolyWnioskow</h2>

<table>
    <tr>
        <td><label> Konkurs</label>
           <label>konkurs</label></td>
    </tr>
    <tr>
        <td><label> organizacja</label>
             <label> organizacja</label></td>
    </tr>
    <tr><td><label>nazwa projektu</label>
           <label>nazwa projektu</label></td>
        
    </tr>
    <tr>
        <td><label> koordynator projektu</label>
           <label> koordynator projektu</label></td>
           
       </tr>
       <tr><td><label> Charakter zadania</label>
           <label> Charakter zadania</label></td>
           
       </tr>
</table>
      
   <table>
       <tr>
           <td>
               <label>recenzja</label>
           </td>
           <td> <label> 2</label></td>
       </tr>
        <tr>
           <td>
               <label>recenzent</label>
           </td>
           <td> <label> label</label></td>
       </tr>
        <tr>
            <td><label>Decyzja</label></td>
            <td><form class="decyzja">
    <input type="radio"name="status"/>pozytywna
    <input type="radio"name="status"/>negatywna
    
</form></td>
        </tr>
   </table>

<button> Zapisz</button>