@{
    ViewBag.Title = "Wnioski - Wnioskodawca";
}

<h2>Wnioski</h2>

<section class="wnioski">
<select name="konkurs" class="dropdown">
    <option>Wybierz konkurs</option>
    <option value="1">S1</option>
    <option value="2">K3</option>
</select>

<form class="status">
    <input type="radio"name="status"/>Wszystkie
    <input type="radio"name="status"/>Zrecenzowane
    <input type="radio"name="status"/>Bez recenzji
</form>

<table class="recPrzeglad">
    <thead>
        <tr>
            <td class="lp">LP.</td>
            <td>Konkurs</td>
            <td>Nazwa wniosku</td>
            <td colspan="2">Status</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="lp">1</td>
        <td>Konkurs 1</td>
        <td>Wniosek 1</td>
        <td>Zrecenzowany</td>
        <td><a href="szczegoly">Szczegóły</a></td>
    </tr>
        <tr>
        <td class="lp">2</td>
        <td>Konkurs 2</td>
        <td>Wniosek 2</td>
        <td>Zrecenzowany</td>
        <td><a href="szczegoly">Szczegóły</a></td>
    </tr>
        <tr>
        <td class="lp">3</td>
        <td>Konkurs 3</td>
        <td>Wniosek 3</td>
        <td>Oczekuje na recenzję</td>
        <td><a href="szczegoly">Szczegóły</a></td>
    </tr>
        <tr>
        <td class="lp">4</td>
        <td>Konkurs 4</td>
        <td>Wniosek 4</td>
        <td>Zrecenzowany</td>
        <td><a href="szczegoly">Szczegóły</a></td>
   </tr>
        <tr>
        <td class="lp">5</td>
        <td>Konkurs 5</td>
        <td>Wniosek 5</td>
        <td>Zrecenzowany</td>
        <td><a href="szczegoly">Szczegóły</a></td>

    </tr>
    </tbody>
</table>
    <input type="submit" value="Nowy wniosek" style="margin-top:15px;" />
</section>

