@{
    ViewBag.Title = "Wniosek K3";
}

<h2>Wypełnij wniosek</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<form method="post">    
<fieldset>
<section class="szczegolywniosku">
<label for="konkursy">Wybierz konkurs:</label>
<select name="konkursy" style="width:150px; padding:5px;">
    <option>C1</option>
    <option>K3</option>
</select>

<label for="organizacje">Organizacja:</label>
<select name="organizacje" style="width:150px; padding:5px;">
    <option>Organizacja 1</option>
    <option>Organizacja 2</option>
</select>

<label for="nazwaprojektu">Nazwa projektu:</label>
    <input type="text" name="nazwaprojektu" style="width:150px; padding:5px;" placeholder="Nazwa projektu" />

<label for="koordynator">Koordynator projektu:</label>
    <input type="text" name="koordynator" style="width:150px; padding:5px;" placeholder="Koordynator" />

<label for="charakterzad">Charakter zadania:</label>
    <input type="checkbox" name="charakterzad" value="1" /> jednorazowe
    <input type="checkbox" name="charakterzad" value="1" /> cykliczne
    <input type="checkbox" name="charakterzad" value="1" /> jubileuszowe
    <input type="checkbox" name="charakterzad" value="1" /> nowa inicjatywa

    <div style="display:inline;">
<label for="koszty">Koszty:</label>
    <select name="rodzajkosztow" style="width:150px; padding:5px;">
        <option>Koszt 1</option>
        <option>Koszt 2</option>
    </select>
        <input type="text" name="opiskosztow" style="width:150px; padding:5px;" placeholder="Wyszczególnienie" />
        <input type="text" name="kwotaall" style="width:150px; padding:5px;" placeholder="Kwota ogółem" />
        <input type="text" name="kwotawnios" style="width:150px; padding:5px;" placeholder="Kwota wnioskowana" />
        </div>
    <input type="button" name="dodajkoszt" value=" + Dodaj wiersz + "/>
    <br /><br />
    <div style="display:inline;">
        <input type="submit" name="zapiszrobocza" value="Zapisz jako wersję roboczą"/>
        <input type="submit" name="wyslijrec" value="Wyślij do recenzji"/>
    </div>
    
</fieldset>
</form>
}
</section>
             